@charset "UTF-8";

  body {
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative;
    }

    /* Pseudo-element for background image with opacity */


    .login-container {
        background: rgba(255, 255, 255, 0.8); /* Transparent background for login box */
        border-radius: 15px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        width: 400px;
        padding: 30px;
        text-align: center;
    }

    .login-container h2 {
        color: #333;
        font-size: 28px;
        margin-bottom: 30px;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
    }

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: #0072ff;
    }

    button {
        background-color: #0072ff;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }

    .forgot-password {
        font-size: 14px;
        color: #0072ff;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
    }

    .forgot-password:hover {
        text-decoration: underline;
    }

    .social-login {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .social-login img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .social-login img:hover {
        transform: scale(1.1);
    }